body, input{
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, input, button{
  border-color: black;
  border-radius: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  color: darkslategrey;
  text-align: center;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}